# Go
backend/*.exe

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# IDE
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/

# OS
Thumbs.db
.DS_Store